.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .iframe {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        border-radius: 5px;

        .iframe_box {
            width: 100%;
            height: 100%;
            position: relative;

            .close_img {
                background: #eeeeee;
                border: 1px solid #dddddd;
                position: absolute;
                z-index: 2;
                right: -20px;
                top: -20px;
                border-radius: 20px;
                width: 40px;
                height: 40px;
                cursor: pointer;

                img {
                    margin: 10px 0 0 10px;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

#allmap {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 2 !important;
}

input,
button {
    border: none;
    outline: none;
    box-sizing: border-box;
}

.alert_box {
    line-height: 30px;
    font-size: 16px;
}

.form {
    position: fixed !important;
    top: 0;
    left: 0;
    // width: 200rpx;
    z-index: 3;
    // transform: translateX(-50%);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

    .input {
        margin-right: 10px;

        input,
        select,
        textarea {
            width: 220px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            padding: 0 15px;
            box-sizing: border-box;
            color: #333333;
        }

        // textarea {
        //     width: 240px;
        //     font-size: 14px;
        //     height: 40px;
        //     line-height: 20px;
        //     padding: 0 10px;
        //     border-radius: 5px;
        //     border: 1px solid #e1e1e1;
        // }

        select {
            width: 150px;
        }

        .weight {
            width: 100px;
        }
    }


    .checkbox {
        display: none;
        margin-right: 10px;

        label {
            font-size: 16px;
            color: #333333;
            display: block;
            align-items: center;
            justify-content: center;

            input[type='checkbox'] {
                width: 20px;
                height: 20px;
                border: 1px solid #e1e1e1;
            }

            span {
                display: inline-block;
            }
        }
    }

    .button {
        button {
            width: 80px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            background: #1270e1;
            color: #ffffff;
        }

        button:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        button[disabled] {
            background: #666666;
        }
    }
}

.nav {
    position: fixed !important;
    top: 0;
    width: 300px;
    right: -300px;
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid #000000;
    z-index: 3;
    transition: all 0.5s;
    // padding-top: 40px;
    box-sizing: border-box;
    background: #ffffff;

    .tip {
        text-align: center;
        line-height: 40px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        position: fixed !important;
        top: 0;
        right: -300px;
        width: 300px;
        z-index: 3;

        border-left: 1px solid #000000;
        box-sizing: border-box;
        background: #f5f5f5;
        border-bottom: 1px solid #000000;
        transition: all 0.5s;
    }

    ul {
        background: #ffffff;
        list-style: decimal;

        padding: 55px 15px 0 30px;

        li {
            padding: 5px;
            background: #f5f5f5;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            margin-bottom: 15px;

            .item {
                font-size: 14px;
                line-height: 20px;
                color: #666666;
            }
        }

        .active {
            background: #e1e1e1;
        }
    }

}

.arrow {
    display: none;
    position: absolute;
    right: 0;
    width: 40px;
    font-size: 20px;
    // line-height: 30px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 3;
    transition: all 0.5s;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    // display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 20px;
        height: 40px;
    }
}

.show .arrow {
    // display: flex;
    right: 300px;
    transition: all 0.5s;
}

.show .nav {
    right: 0;
    transition: all 0.5s;
}

.show .nav .tip {
    right: 0;
    transition: all 0.5s;
}